@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Bebas+Neue&display=swap');


h1#title{
    font-family: 'Bebas Neue', 'Balsamiq Sans', 'Roboto', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    border-radius: 39px 39px 0px 0px;
    padding-bottom: 10px;  

}


h1{
    font-family: 'Bebas Neue', 'Architects Daughter', 'Roboto', sans-serif;
    font-size: 29px;
    border: 20px, black;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(236, 240, 21);
    margin: auto;
    padding: 10px;
    opacity: 95%;
}


h1#video{
    font-family: 'Bebas Neue', 'Architects Daughter', 'Roboto', sans-serif;
    font-size: 29px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

img{
    display: block;
    padding: 20px;
    height: 30%;
    width: 40%;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    
}

img#coca{
    display: block;
    padding: 20px;
    height: 20%;
    width: 25%;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;

}

img#principal{
    display: block;
    padding: 20px;
    height: 80%;
    width: 55%;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;

}


p{
    font-family: sans-serif;
    font-size: 17px;
    text-align: justify;
    margin: 3px;  
    padding: 0.9% 9%;
    line-height: 25px;

}



p#yt{
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

body{
    background-image: url(../images/bg/bg6.jpg);
    background-repeat: repeat;

}

.margem{
    background-color: #fff;
    margin: 90px 200px;
    padding-bottom: 30px;
    opacity: 95%;
    border-radius: 50px;

}

.margem_autor{
    background-color: #fff;
    margin-top: 100px;
    margin-left: 280px;
    margin-right: 0px;
    padding: 26px;
    opacity: 95%;
    border-radius: 50px 50px 0px 0px;
}


.margem_autor_yellow{
    background-color: rgb(236, 240, 21);
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    opacity: 95%;
    border-radius: 50px 50px 0px 0px;
}

#img_redonda{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding-left: 60px;
    padding-right: 60px ;
    position: absolute;

}